// this file requires the bootstrap variables.less
// because of problems in the php less port it isn't included here

@import "mixin.less";

.make-aspect-ratio-classes(xs);

@media (min-width: @screen-sm-min) {
    .make-aspect-ratio-classes(sm);
}

@media (min-width: @screen-md-min) {
    .make-aspect-ratio-classes(md);
}

@media (min-width: @screen-lg-min) {
    .make-aspect-ratio-classes(lg);
}

// this class prevents the div to become larger (or smaller) than it's parent
.fill-parent {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}