.aspect-ratio (@width-ratio, @height-fix: 0) {
    @height-ratio: 1 / @width-ratio;
    position: relative;

    &:before {
        content: "";
        display: block;
        padding-top: percentage(@height-ratio);
        padding-bottom: @height-fix;
        width: 1px;
        margin-right: -1px;
        float: left;
    }

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.make-aspect-ratio-class(@layout, @x, @y) {
    .aspect-@{layout}-@{x}-@{y} {
        .aspect-ratio(@x / @y);
    }
}

.make-aspect-ratio-classes(@layout) {

    .make-variations(@x, @y) {
        .make-aspect-ratio-class(@layout, @x, @y);
        .make-aspect-ratio-class(@layout, @y, @x);
    }

    // common screen aspect ratios
    .make-variations(5, 4);
    .make-variations(4, 3);
    .make-variations(16, 9);
    .make-variations(21, 9);

    // multiple square aspect ratio
    .make-aspect-ratio-class(@layout, 1, 1);
    .make-aspect-ratio-class(@layout, 2, 1);
    .make-aspect-ratio-class(@layout, 3, 1);
    .make-aspect-ratio-class(@layout, 4, 1);
    .make-aspect-ratio-class(@layout, 5, 1);
    .make-aspect-ratio-class(@layout, 6, 1);

    // add more ratios by overwriting/extending this mixin and adding:
    // .make-aspect-ratio-class(@layout, [your x], [your y]);
}